USE [master]
GO
/****** Object:  Database [TechShop]    Script Date: 11/27/2023 8:50:41 PM ******/
CREATE DATABASE [TechShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CHAUDZHOST\MSSQL\DATA\TechShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CHAUDZHOST\MSSQL\DATA\TechShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechShop]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[About]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[About](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[meta_title] [nvarchar](max) NULL,
	[meta_keywords] [nvarchar](max) NULL,
	[meta_descriptions] [nvarchar](max) NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
 CONSTRAINT [PK_About] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advertisement]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisement](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[link] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Advertisement] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[id] [int] IDENTITY(100000,1) NOT NULL,
	[cus_id] [int] NOT NULL,
	[name_receiver] [nvarchar](max) NULL,
	[phone_receiver] [nvarchar](max) NULL,
	[address_receiver] [nvarchar](max) NULL,
	[total] [decimal](18, 2) NOT NULL,
	[discount] [decimal](18, 2) NOT NULL,
	[transport_fee] [decimal](18, 2) NOT NULL,
	[coupon_id] [int] NULL,
	[payment_id] [int] NOT NULL,
	[status] [int] NOT NULL,
	[isPay] [bit] NOT NULL,
	[note] [nvarchar](max) NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
	[cancel_at] [datetime2](7) NULL,
	[cancel_reason] [nvarchar](max) NULL,
	[pay_at] [datetime2](7) NULL,
	[confirm_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[promotion_price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BillDetail] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](255) NOT NULL,
	[brand_slug] [varchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDelete] [bit] NOT NULL,
	[meta_title] [nvarchar](max) NULL,
	[meta_keywords] [nvarchar](max) NULL,
	[meta_descriptions] [nvarchar](max) NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
	[delete_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cate_name] [nvarchar](255) NOT NULL,
	[cate_slug] [varchar](255) NOT NULL,
	[parent_id] [int] NULL,
	[isActive] [bit] NOT NULL,
	[isDelete] [bit] NOT NULL,
	[meta_title] [nvarchar](max) NULL,
	[meta_keywords] [nvarchar](max) NULL,
	[meta_descriptions] [nvarchar](max) NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
	[delete_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryNews]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryNews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDelete] [bit] NOT NULL,
	[meta_title] [nvarchar](max) NULL,
	[meta_keywords] [nvarchar](max) NULL,
	[meta_descriptions] [nvarchar](max) NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
	[delete_at] [datetime2](7) NULL,
 CONSTRAINT [PK_CategoryNews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryProduct]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryProduct](
	[product_id] [int] NOT NULL,
	[cate_id] [int] NOT NULL,
 CONSTRAINT [PK_CategoryProduct] PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](255) NOT NULL,
	[adress] [nvarchar](max) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[hotline] [nvarchar](max) NULL,
	[company_logo] [nvarchar](max) NOT NULL,
	[fax] [nvarchar](max) NULL,
	[email] [varchar](50) NOT NULL,
	[social_fb] [nvarchar](max) NULL,
	[social_instagram] [nvarchar](max) NULL,
	[social_youtube] [nvarchar](max) NULL,
	[social_twitter] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupon]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](max) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[min_order_value] [float] NULL,
	[max_price] [float] NULL,
	[value] [float] NOT NULL,
	[quantity] [int] NULL,
	[isActive] [bit] NOT NULL,
	[start_at] [date] NOT NULL,
	[end_at] [date] NOT NULL,
 CONSTRAINT [PK_Coupon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](30) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[birthday] [datetime2](7) NOT NULL,
	[sex] [bit] NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDelete] [bit] NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
	[delete_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[product_id] [int] NOT NULL,
	[cus_id] [int] NOT NULL,
	[date_favorite] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Favorite] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[cus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[isRead] [bit] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FeedBack] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[cate_id] [int] NOT NULL,
	[img] [nvarchar](max) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[meta_tittle] [nvarchar](max) NULL,
	[featured] [bit] NULL,
	[meta_keywords] [nvarchar](max) NULL,
	[meta_descriptions] [nvarchar](max) NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[status] [bit] NOT NULL,
	[link] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Partner] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
	[isDelete] [bit] NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
	[delete_at] [datetime2](7) NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[code] [nvarchar](max) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[brand_id] [int] NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[more_images] [nvarchar](max) NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[promotion_price] [decimal](18, 2) NOT NULL,
	[warranty] [int] NOT NULL,
	[instock] [int] NULL,
	[specifications] [nvarchar](max) NULL,
	[short_desc] [nvarchar](max) NULL,
	[descriptions] [nvarchar](max) NULL,
	[featured] [bit] NOT NULL,
	[best_seller] [bit] NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDelete] [bit] NOT NULL,
	[meta_tittle] [nvarchar](max) NULL,
	[meta_keywords] [nvarchar](max) NULL,
	[meta_descriptions] [nvarchar](max) NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
	[delete_at] [datetime2](7) NULL,
	[view_count] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[product_id] [int] NOT NULL,
	[cus_id] [int] NOT NULL,
	[score] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[date_rating] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[cus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[display_order] [int] NOT NULL,
	[link] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Slide] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transport]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transport](
	[id] [int] IDENTITY(100000,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[transporter_id] [int] NOT NULL,
	[cod_price] [decimal](18, 2) NOT NULL,
	[lading_code] [varchar](max) NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
	[ship_status] [int] NOT NULL,
	[from_address] [nvarchar](max) NULL,
	[to_address] [nvarchar](max) NULL,
	[cancel_at] [datetime2](7) NULL,
	[done_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Transport] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transporter]    Script Date: 11/27/2023 8:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transporter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDelete] [bit] NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NULL,
	[delete_at] [datetime2](7) NULL,
	[image] [nvarchar](max) NULL,
	[link] [nvarchar](max) NULL,
 CONSTRAINT [PK_Transporter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210703161402_InitialDatabaseMiGration', N'5.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210706103458_UpdateTableTransporter', N'5.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210707144930_UpdateOrderAndTransportTable', N'5.0.6')
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([id], [name], [email], [password], [phone], [create_at], [update_at]) VALUES (1, N'Hồ Trọng Văn', N'admin@gmail.com', N'QL0AFWMIX8NRZTKeof9cXsvbvu8=', N'0987654321', CAST(N'2023-06-07T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
INSERT [dbo].[BillDetail] ([order_id], [product_id], [quantity], [unit_price], [promotion_price]) VALUES (100003, 3, 1, CAST(11990000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[BillDetail] ([order_id], [product_id], [quantity], [unit_price], [promotion_price]) VALUES (100003, 4, 1, CAST(20190000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[BillDetail] ([order_id], [product_id], [quantity], [unit_price], [promotion_price]) VALUES (100003, 5, 1, CAST(4099000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([id], [brand_name], [brand_slug], [isActive], [isDelete], [meta_title], [meta_keywords], [meta_descriptions], [create_at], [update_at], [delete_at]) VALUES (1, N'Nvidia', N'nvidia', 1, 0, N'Nvidia', N'Nvidia', N'Nvidia', CAST(N'2023-08-02T00:00:00.0000000' AS DateTime2), CAST(N'2023-08-03T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Brand] ([id], [brand_name], [brand_slug], [isActive], [isDelete], [meta_title], [meta_keywords], [meta_descriptions], [create_at], [update_at], [delete_at]) VALUES (2, N'Kinston', N'kinston', 1, 0, N'Ram máy tính - Kinston', N'Kinston, RAM', N'Ram máy tính hiệu Kinston', CAST(N'2023-08-02T00:00:00.0000000' AS DateTime2), CAST(N'2023-08-03T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Brand] ([id], [brand_name], [brand_slug], [isActive], [isDelete], [meta_title], [meta_keywords], [meta_descriptions], [create_at], [update_at], [delete_at]) VALUES (3, N'Intel', N'Intel', 1, 0, N'Intel', N'Intel', N'IntelIntel', CAST(N'2023-08-02T00:00:00.0000000' AS DateTime2), CAST(N'2023-08-03T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [cate_name], [cate_slug], [parent_id], [isActive], [isDelete], [meta_title], [meta_keywords], [meta_descriptions], [create_at], [update_at], [delete_at]) VALUES (1, N'VGA - Card màn hình', N'vga-card-man-hinh', 0, 1, 0, N'Card màn hình', N'Card màn hình', N'VGA | Card Đồ Họa- Card Màn Hình NVIDIA, AMD bảo hành chính hãng của Asus, Gigabyte, MSI, EVGA, Sapphire,... Đầy đủ các dòng sản phẩm mới nhất VGA', CAST(N'2023-08-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-08-02T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Category] ([id], [cate_name], [cate_slug], [parent_id], [isActive], [isDelete], [meta_title], [meta_keywords], [meta_descriptions], [create_at], [update_at], [delete_at]) VALUES (2, N'CPU - Bộ vi xử lí', N'cpu-bo-vi-xu-li', 0, 1, 0, N'CPU - Bộ vi xử lí', N'CPU', N'Mọi cấu hình máy tính đều cần một bo mạch chủ. Và trên bo mạch chủ lại cần một CPU. CPU là chữ viết tắt của Central Processing Unit hay còn gọi là bộ xử lý​ ', CAST(N'2023-08-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-08-02T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Category] ([id], [cate_name], [cate_slug], [parent_id], [isActive], [isDelete], [meta_title], [meta_keywords], [meta_descriptions], [create_at], [update_at], [delete_at]) VALUES (3, N'SSD/HDD - Ổ cứng máy tính', N'ssdhdd-o-cung-may-tinh', 0, 1, 0, N'HDD - Ổ cứng PC', N'HDD, SSD', N'Ổ cứng HDD chính hãng Western Digital (WD), Hitachi, Seagate, Samsung, Toshiba,...đủ mọi dung lượng 500Gb, 1TB, 2TB,.. tốc độ cao, bảo hành lên tới 5 năm ', CAST(N'2023-08-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-08-02T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[CategoryProduct] ([product_id], [cate_id]) VALUES (1, 1)
INSERT [dbo].[CategoryProduct] ([product_id], [cate_id]) VALUES (1, 20)
INSERT [dbo].[CategoryProduct] ([product_id], [cate_id]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([id], [company_name], [adress], [phone], [hotline], [company_logo], [fax], [email], [social_fb], [social_instagram], [social_youtube], [social_twitter]) VALUES (5, N'TechShop - Chuyên cung cấp linh kiện điện tử', N'140 Lê Trọng Tấn, Tân Phú, Thành phố Hồ Chí Minh', N'0965 349 315', N'0908 77 00 95', N'logoDF.png', N'(08) 66 85 85 38', N'admin@techshopvn.xyz', N'https://www.facebook.com/', N'https://www.instagram.com/', N'https://www.youtube.com/', N'https://twitter.com/')
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupon] ON 

INSERT [dbo].[Coupon] ([id], [code], [name], [type], [min_order_value], [max_price], [value], [quantity], [isActive], [start_at], [end_at]) VALUES (13, N'KHAITRUONG20', N'Khuyến mãi mừng trai trương giảm 20% cho đơn hàng từ 5tr', N'Phần trăm', 5000000, NULL, 20, 99, 1, CAST(N'2021-06-29' AS Date), CAST(N'2021-07-13' AS Date))
INSERT [dbo].[Coupon] ([id], [code], [name], [type], [min_order_value], [max_price], [value], [quantity], [isActive], [start_at], [end_at]) VALUES (14, N'SALE30', N'Mã giảm giá 30k cho đơn hàng từ 200k', N'Số tiền', 200000, NULL, 30000, 1000, 1, CAST(N'2021-01-08' AS Date), CAST(N'2021-01-08' AS Date))
INSERT [dbo].[Coupon] ([id], [code], [name], [type], [min_order_value], [max_price], [value], [quantity], [isActive], [start_at], [end_at]) VALUES (1002, N'sale20', N'Giảm giá 20% giảm tối đa 100k cho đơn hàng từ 1 triệu', N'Phần trăm', 1000000, 100000, 20, 2, 1, CAST(N'2022-07-08' AS Date), CAST(N'2022-09-19' AS Date))
SET IDENTITY_INSERT [dbo].[Coupon] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id], [name], [email], [password], [phone], [birthday], [sex], [address], [isActive], [isDelete], [create_at], [update_at], [delete_at]) VALUES (2, N'Nguyễn Trường Nhật', N'Nhatlatoi@gmail.com', N'fEqNCco3Yq9h5ZUglD3CZJT4lBs=', N'0123545212', CAST(N'2000-12-05T00:00:00.0000000' AS DateTime2), 1, N'36 B1 Xã Long Châu, Huyện Yên Phong, Bắc Ninh', 1, 0, CAST(N'2023-07-03T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-04T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Customer] ([id], [name], [email], [password], [phone], [birthday], [sex], [address], [isActive], [isDelete], [create_at], [update_at], [delete_at]) VALUES (3, N'Thuận Phạm', N'thuanneuwu@gmail.com', N'fEqNCco3Yq9h5ZUglD3CZJT4lBs=', N'0965345321', CAST(N'1999-12-30T00:00:00.0000000' AS DateTime2), 1, N'123 Xã Cát Thành, Huyện Phù Cát, Bình Định', 1, 0, CAST(N'2023-07-03T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-04T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Customer] ([id], [name], [email], [password], [phone], [birthday], [sex], [address], [isActive], [isDelete], [create_at], [update_at], [delete_at]) VALUES (4, N'Trương Thị Ngọc Trâm', N'tramneuwu@gmail.com', N'fEqNCco3Yq9h5ZUglD3CZJT4lBs=', N'0336398432', CAST(N'2003-03-04T00:00:00.0000000' AS DateTime2), 0, N'23B Thị trấn Cầu Giát, Huyện Quỳnh Lưu, Nghệ An', 1, 0, CAST(N'2023-07-03T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-04T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
INSERT [dbo].[Favorite] ([product_id], [cus_id], [date_favorite]) VALUES (1, 3, CAST(N'2023-08-04T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Favorite] ([product_id], [cus_id], [date_favorite]) VALUES (1, 17, CAST(N'2023-08-04T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Favorite] ([product_id], [cus_id], [date_favorite]) VALUES (1, 21, CAST(N'2023-08-04T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[FeedBack] ON 

INSERT [dbo].[FeedBack] ([id], [title], [content], [name], [isRead], [email], [phone], [create_at]) VALUES (11, N'Phản ánh giao hàng', N'Shop có vấn đề gì mà dạo này giao không nhanh như trước nữa ạ?', N'Phạm Trần Thanh Thuận', 1, N'thuanneuwu@gmail.com', N'0965349315', CAST(N'2023-07-13T21:25:13.5176151' AS DateTime2))
INSERT [dbo].[FeedBack] ([id], [title], [content], [name], [isRead], [email], [phone], [create_at]) VALUES (14, N'Đánh giá dịch vụ ', N'123', N'Phạm Trần Thanh Thuận', 1, N'thuanfaper307@gmail.com', N'0965349315', CAST(N'2023-07-13T21:34:23.6698226' AS DateTime2))
SET IDENTITY_INSERT [dbo].[FeedBack] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([id], [name], [description], [isActive], [isDelete], [create_at], [update_at], [delete_at]) VALUES (1, N'Thanh toán khi nhận hàng (COD)', N'<figure class="image"><img src="https://gumato.com/wp-content/uploads/2019/04/huong-dan-ship-cod.jpg" alt="Ship COD là gì? Ship hàng COD là gì và những điều cần"></figure>', 1, 0, CAST(N'2023-07-03T17:15:44.1116475' AS DateTime2), CAST(N'2023-07-13T19:37:20.7910726' AS DateTime2), NULL)
INSERT [dbo].[PaymentMethod] ([id], [name], [description], [isActive], [isDelete], [create_at], [update_at], [delete_at]) VALUES (2, N'Thanh toán bằng Momo', N'<p>Quý khách vui lòng thanh toán, sau khi thanh toán chúng tôi sẽ xử lý đơn hàng của quý khách</p><p>Quét mã sau trên Momo để thanhh toán:</p><figure class="image"><img src="https://abpvn.com/donate/momo-qr.jpg" alt="Ủng hộ ABPVN - Nhận link vip"></figure>', 1, 0, CAST(N'2023-07-03T17:14:08.7018596' AS DateTime2), CAST(N'2023-07-03T23:43:09.1367788' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Rating] ([product_id], [cus_id], [score], [content], [date_rating]) VALUES (1, 3, 5, N'Sản phẩm rất tốt', CAST(N'2023-07-03T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Rating] ([product_id], [cus_id], [score], [content], [date_rating]) VALUES (2, 4, 5, N'Sp tốt', CAST(N'2023-07-03T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Rating] ([product_id], [cus_id], [score], [content], [date_rating]) VALUES (3, 3, 5, N'Sản phẩm rẻ giao hàng nhanh. 5 sao cho shop', CAST(N'2023-07-03T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([id], [image], [display_order], [link], [status], [create_at], [update_at]) VALUES (7, N'cbea961e-e699-41bf-bc50-1fa734c26d4d.jpg', 3, N'https://techshopvn.xyz/san-pham/card-man-hinh-asus-rog-strix-rx-6800-o16g-gaming', 1, CAST(N'2023-07-03T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-25T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Slide] ([id], [image], [display_order], [link], [status], [create_at], [update_at]) VALUES (8, N'267a8127-e9ed-4ee4-af81-46b78bc43822.jpg', 4, N'https://techshopvn.xyz/san-pham/mainboard-asus-rog-strix-b460-f-gaming-intel-b460-socket-1200-atx-4-khe-ram-ddr4	', 1, CAST(N'2023-07-03T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-25T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Slide] ([id], [image], [display_order], [link], [status], [create_at], [update_at]) VALUES (9, N'b78eab12-ed18-4bea-92c0-120b6a1d5ec3.jpg', 1, N'https://techshopvn.xyz/san-pham/mainboard-msi-b460m-pro-intel-b460-socket-1200-m-atx-2-khe-ram-ddr4', 1, CAST(N'2023-07-03T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-25T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Slide] OFF
GO
SET IDENTITY_INSERT [dbo].[Transport] ON 

INSERT [dbo].[Transport] ([id], [order_id], [transporter_id], [cod_price], [lading_code], [create_at], [update_at], [ship_status], [from_address], [to_address], [cancel_at], [done_at]) VALUES (100001, 101018, 1, CAST(1779000.00 AS Decimal(18, 2)), N'A452AGVCX', CAST(N'2023-07-25T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-27T00:00:00.0000000' AS DateTime2), -1, NULL, NULL, CAST(N'2023-07-28T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Transport] ([id], [order_id], [transporter_id], [cod_price], [lading_code], [create_at], [update_at], [ship_status], [from_address], [to_address], [cancel_at], [done_at]) VALUES (100004, 101019, 3, CAST(1779000.00 AS Decimal(18, 2)), N'A45S125Q', CAST(N'2023-07-25T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-27T00:00:00.0000000' AS DateTime2), -1, NULL, NULL, CAST(N'2023-07-28T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Transport] ([id], [order_id], [transporter_id], [cod_price], [lading_code], [create_at], [update_at], [ship_status], [from_address], [to_address], [cancel_at], [done_at]) VALUES (100005, 101023, 4, CAST(54888000.00 AS Decimal(18, 2)), N'A45S125Q1DDA', CAST(N'2023-07-25T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-27T00:00:00.0000000' AS DateTime2), -1, NULL, NULL, CAST(N'2023-07-28T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Transport] OFF
GO
SET IDENTITY_INSERT [dbo].[Transporter] ON 

INSERT [dbo].[Transporter] ([id], [name], [isActive], [isDelete], [create_at], [update_at], [delete_at], [image], [link]) VALUES (1, N'Giao hàng tiết kiệm', 1, 0, CAST(N'2023-07-10T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-15T00:00:00.0000000' AS DateTime2), NULL, N'1c88a5b1-d72f-4357-9e30-9f6880e344ca.png', N'https://i.ghtk.vn/')
INSERT [dbo].[Transporter] ([id], [name], [isActive], [isDelete], [create_at], [update_at], [delete_at], [image], [link]) VALUES (3, N'Giao hàng nhanh ', 1, 0, CAST(N'2023-07-10T00:00:00.0000000' AS DateTime2), NULL, NULL, N'3c06ea12-e248-4bbb-a6cd-c6b7eb54de40.png', N'https://ghn.vn/')
INSERT [dbo].[Transporter] ([id], [name], [isActive], [isDelete], [create_at], [update_at], [delete_at], [image], [link]) VALUES (4, N'VNPost', 1, 0, CAST(N'2023-07-10T00:00:00.0000000' AS DateTime2), NULL, NULL, N'0965b4fa-e2b9-471c-a04e-47564f3e78b2.png', N'http://www.vnpost.vn/')
SET IDENTITY_INSERT [dbo].[Transporter] OFF
GO
/****** Object:  Index [IX_Bill_coupon_id]    Script Date: 11/27/2023 8:50:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bill_coupon_id] ON [dbo].[Bill]
(
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bill_cus_id]    Script Date: 11/27/2023 8:50:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bill_cus_id] ON [dbo].[Bill]
(
	[cus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bill_payment_id]    Script Date: 11/27/2023 8:50:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bill_payment_id] ON [dbo].[Bill]
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BillDetail_product_id]    Script Date: 11/27/2023 8:50:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_BillDetail_product_id] ON [dbo].[BillDetail]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryProduct_product_id]    Script Date: 11/27/2023 8:50:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryProduct_product_id] ON [dbo].[CategoryProduct]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorite_cus_id]    Script Date: 11/27/2023 8:50:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Favorite_cus_id] ON [dbo].[Favorite]
(
	[cus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_News_cate_id]    Script Date: 11/27/2023 8:50:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_News_cate_id] ON [dbo].[News]
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_brand_id]    Script Date: 11/27/2023 8:50:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_brand_id] ON [dbo].[Product]
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rating_cus_id]    Script Date: 11/27/2023 8:50:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Rating_cus_id] ON [dbo].[Rating]
(
	[cus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [AK_Transport_order_id]    Script Date: 11/27/2023 8:50:42 PM ******/
ALTER TABLE [dbo].[Transport] ADD  CONSTRAINT [AK_Transport_order_id] UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transport_transporter_id]    Script Date: 11/27/2023 8:50:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transport_transporter_id] ON [dbo].[Transport]
(
	[transporter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[About] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Brand] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [parent_id]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[CategoryNews] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Favorite] ADD  DEFAULT (getdate()) FOR [date_favorite]
GO
ALTER TABLE [dbo].[FeedBack] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Partner] ADD  DEFAULT (CONVERT([bit],(1))) FOR [status]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  DEFAULT (CONVERT([bit],(0))) FOR [isDelete]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[Rating] ADD  DEFAULT (getdate()) FOR [date_rating]
GO
ALTER TABLE [dbo].[Slide] ADD  DEFAULT (CONVERT([bit],(1))) FOR [status]
GO
ALTER TABLE [dbo].[Slide] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Transport] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Transport] ADD  DEFAULT ((0)) FOR [ship_status]
GO
ALTER TABLE [dbo].[Transporter] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Coupon_coupon_id] FOREIGN KEY([coupon_id])
REFERENCES [dbo].[Coupon] ([id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Coupon_coupon_id]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Customer_cus_id] FOREIGN KEY([cus_id])
REFERENCES [dbo].[Customer] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Customer_cus_id]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_PaymentMethod_payment_id] FOREIGN KEY([payment_id])
REFERENCES [dbo].[PaymentMethod] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_PaymentMethod_payment_id]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Bill_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[Bill] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Bill_order_id]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Product_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Product_product_id]
GO
ALTER TABLE [dbo].[CategoryProduct]  WITH CHECK ADD  CONSTRAINT [FK_CategoryProduct_Category_cate_id] FOREIGN KEY([cate_id])
REFERENCES [dbo].[Category] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryProduct] CHECK CONSTRAINT [FK_CategoryProduct_Category_cate_id]
GO
ALTER TABLE [dbo].[CategoryProduct]  WITH CHECK ADD  CONSTRAINT [FK_CategoryProduct_Product_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryProduct] CHECK CONSTRAINT [FK_CategoryProduct_Product_product_id]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Customer_cus_id] FOREIGN KEY([cus_id])
REFERENCES [dbo].[Customer] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Customer_cus_id]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Product_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Product_product_id]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_CategoryNews_cate_id] FOREIGN KEY([cate_id])
REFERENCES [dbo].[CategoryNews] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_CategoryNews_cate_id]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand_brand_id] FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand_brand_id]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Customer_cus_id] FOREIGN KEY([cus_id])
REFERENCES [dbo].[Customer] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Customer_cus_id]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Product_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Product_product_id]
GO
ALTER TABLE [dbo].[Transport]  WITH CHECK ADD  CONSTRAINT [FK_Transport_Bill_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[Bill] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transport] CHECK CONSTRAINT [FK_Transport_Bill_order_id]
GO
ALTER TABLE [dbo].[Transport]  WITH CHECK ADD  CONSTRAINT [FK_Transport_Transporter_transporter_id] FOREIGN KEY([transporter_id])
REFERENCES [dbo].[Transporter] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transport] CHECK CONSTRAINT [FK_Transport_Transporter_transporter_id]
GO
/****** Object:  StoredProcedure [dbo].[GetRevenueByMonth]    Script Date: 11/27/2023 8:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetRevenueByMonth]
	@fromDate VARCHAR(10),
	@toDate VARCHAR(10)
AS
BEGIN
			SELECT 
				CONCAT(month(b.create_at), '/', year(b.create_at)) as MONTH,
				SUM(b.total + b.transport_fee - b.discount) as Revenue
				FROM Bill b
				WHERE CAST(b.create_at AS Date) <= CAST(@toDate AS Date)
				AND CAST(b.create_at AS Date) >= CAST(@fromDate AS Date)
				AND b.status = 1
				AND b.isPay = 1
				GROUP BY CONCAT(month(b.create_at), '/', year(b.create_at))
END
GO
/****** Object:  StoredProcedure [dbo].[GetRevenueDaily]    Script Date: 11/27/2023 8:50:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetRevenueDaily] 
	@fromDate VARCHAR(10),
	@toDate VARCHAR(10)
AS
BEGIN
			SELECT 
				CAST(b.create_at as DATE) as Date,
				SUM(b.total + b.transport_fee - b.discount) as Revenue
				FROM Bill b
				WHERE CAST(b.create_at AS Date) <= CAST(@toDate AS Date)
				AND CAST(b.create_at AS Date) >= CAST(@fromDate AS Date)
				AND b.status = 1
				AND b.isPay = 1
				group by CAST(b.create_at as DATE)
END
GO
USE [master]
GO
